 /* error message */
 #errorMessage1{
     display:none;
 } 
 /* phone img size */
 #phone-img{
     height: 500px;
     width: 360px;
 }
#details-button{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}
/* card */
 .card1{
     height: 699px;
 }
/* spinner div */
#spinner-div{
     display: flex;
     justify-content:center;
}
/*  spinner */
#spinner{
    width: 500px ;
}